
footer {
    display: grid;
    grid-template-areas: "derechos redes";
    background-color: $color-base;


    .footer {
        &__derechos {
            grid-area: derechos;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: small;
            padding: 16px;
            margin: 0;
        }
        
        &__redes {
            grid-area: redes;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        &__icono {
            width: 25px;
            margin: 5px;
        }
    }
}