.header {
    background-color: $color-base;
    &__logo {
        width: 80px;
        margin: 0 30px;
    }
    
    &__secciones a {
        text-decoration: none;
        color: #21897E;
        font-size: 1.4rem;
        margin: 0 20px;
    }
}