.header {
    background-color: rgb(235, 235, 235);
    &__logo {
        width: 80px;
        margin: 0 30px;
    }
    
    &__secciones a {
        text-decoration: none;
        color: #21897E;
        font-size: 20px;
        margin: 0 20px;
    }
}