/* MEDIA QUERIE DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
/* BANNERS */

    .banner__titulo {
        font-size: 2rem;
    }

/* HOME */

    .home__torneos {
        &--tarjeta {
            height: 30vh;
        }
    
        .futbol__femenino {
            background-position: 80% 20%;
        }
    }

    .home__redes {
        height: 50vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &--titulo {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
            font-size: 1rem;
            margin: 16px 20px;
        }
        
        &--logos {
            grid-column: 1 / 1;
            grid-row: 2 / 3;
        }
    
        &--img {
            width: 60px;
        }
    }

    .home__actividades {
        grid-template-areas: "alquiler"
                            "cumple"
                            "escuelita";
        justify-content: space-evenly;

        &--tarjeta {
            width: 90vw;
        }
    
        &--img {
            width: 60vw;
        }
    
        &--texto {
            margin: 5px;
            padding: 0 10px;
        }
    }

/* NOSOTROS */

    .nosotros {
        height: 50vh;
        padding: 0px;
        margin: 20px;
        line-height: 20px;
        font-size: 1rem;

        &__texto {
            margin: 5px;
        }
    }
    
    .galeria {
        &__img {
            height: 50vh;
        }
    }

    .ubicacion {
        grid-template-areas: "titulo"
                            "texto"
                            "mapa";
        &__texto {
            font-size: 15px;
            margin: 10px;
        }

        &__mapa {
            width: 80vw;
        }
    }

/* ACTIVIDADES */

    .actividades {
        margin: 16px;
        
        &__titulo {
            font-size: 25px;
            margin: 15px;
        }
        
        &__texto {
            font-size: 14px;
        }
        
        &__boton {
            width: 150px;
            height: 40px;
            font-size: 15px;
        }

        &__galeria {
            height: 50vh;
            margin: 16px;
            grid-template-areas: "foto1";

            .alquiler__dos {
                display: none;
            }
        
            .alquiler__tres {
                display: none;
            }
        
            .escuelita__dos {
                display: none;
            }
        
            .escuelita__tres {
                display: none;
            }
        
            .cumple__dos {
                display: none;
            }
        
            .cumple__tres {
                display: none;
            }
        }
    }

/* TORNEOS */

    .torneos__grid {
        .torneos__masculino {
            flex-direction: column;
        }
        
        .torneos__femenino {
            flex-direction: column;
        }
        
        .torneos__mixto {
            flex-direction: column;
        }
    }

    .torneos {
        justify-content: space-between; 
        margin: 16px auto;
        align-items: center;
        &__img {
            width: 70vw;
            height: auto;
        }
        
        &__boton {
            width: 130px;
            height: 40px;
            font-size: 15px;
        }
    }
}

/* MEDIA QUERIE DE TABLET */

@media (min-width: 576px) and (max-width: 992px) {
    .home__torneos {
        width: 90vw;
    }

    .home__redes {
        height: 40vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &--titulo {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
            font-size: 16px;
            margin: 16px 20px;
        }
        
        &--logos {
            grid-column: 1 / 1;
            grid-row: 2 / 3;
        }
    
        &--img {
            width: 80px;
        }
    }

    .home__actividades {
        grid-template-areas: "alquiler"
                            "cumple"
                            "escuelita";
        justify-content: space-evenly;
        &--tarjeta {
            width: 60vw;
        }
    
        &--img {
            width: 30vw;
        }
    
        &--texto {
            margin: 5px;
            padding: 0 10px;
        }
    }

/* NOSOTROS */

    .nosotros {
        padding: 20px;
        line-height: 25px;
        font-size: 15px;
    }

    .ubicacion__texto {
        font-size: 15px;
        margin: 20px;
    }

/* ACTIVIDADES */

    .actividades {
        &__titulo {
            font-size: 25px;
            margin: 15px;
        }
        
        &__texto {
            font-size: 14px;
        }
        
        &__boton {
            width: 150px;
            height: 40px;
            font-size: 15px;
        }
    
        &__galeria {
            height: 35vh;
            margin: 16px;
        }
    }

/* TORNEOS */

    .torneos {
        margin: 16px;
        &__info--titulo {
            font-size: 20px;
        }
        
        &__datos {
            font-size: 15px;
        }
        
        &__boton {
            width: 130px;
            height: 40px;
            font-size: 15px;
        }
    }

/* CONTACTO */

    .titulo__contacto {
        font-size: 45px;
    }
}