/* MEDIA QUERIE DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
    /* BANNERS */
    .banner__titulo {
        font-size: 40px;
    }

    /* HOME */
    .home__torneos {
        width: 90vw;
        &--img {
            height: 50vh;
        }
    }

    .home__carrousel--titulo {
        font-size: 10px;
    }

    .home__redes {
        height: 40vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        /* margin: 30px 0; */
    }
    
    .home__redes--titulo {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        font-size: 16px;
        margin: 16px 20px;
    }
    
    .home__redes--logos {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .home__redes--img {
        width: 60px;
    }

    .home__actividades {
        grid-template-areas: "alquiler"
                            "cumple"
                            "escuelita";
        justify-content: space-evenly;
    }

    .home__actividades--tarjeta {
        width: 90vw;
    }

    .home__actividades--img {
        width: 60vw;
    }

    .home__actividades--texto {
        margin: 5px;
        padding: 0 10px;
    }

    /* NOSOTROS */
    .nosotros {
        height: 50vh;
        padding: 0px;
        margin: 20px;
        line-height: 20px;
        font-size: 15px;
    }

    .nosotros__texto {
        margin: 5px;
    }

    
    .galeria__img {
        height: 50vh;
    }

    .ubicacion {
    grid-template-areas: "titulo"
                        "texto"
                        "mapa";
    }

    .ubicacion__texto {
        font-size: 15px;
        margin: 10px;
    }

    .ubicacion__mapa {
        width: 80vw;
    }

    /* ACTIVIDADES */

    .actividades {
        margin: 16px;
    }

    .actividades__titulo {
        font-size: 25px;
        margin: 15px;
    }
    
    .actividades__texto {
        font-size: 14px;
    }
    
    .actividades__boton {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    .actividades__galeria {
        height: 50vh;
        margin: 16px;
        grid-template-areas: "foto1";
    }

    .alquiler2 {
        display: none;
    }

    .alquiler3 {
        display: none;
    }

    .escuelita2 {
        display: none;
    }

    .escuelita3 {
        display: none;
    }

    .cumple2 {
        display: none;
    }

    .cumple3 {
        display: none;
    }

    /* TORNEOS */

    .torneos__masculino {
        flex-direction: column;
    }
    
    .torneos__femenino {
        flex-direction: column;
    }
    
    .torneos__mixto {
        flex-direction: column;
    }

    .torneos {
        justify-content: space-between; 
        margin: 16px auto;
        align-items: center;
    }

    .torneos__img {
        height: auto;
        width: 70vw;
    }

    .torneos__info--titulo {
        font-size: 25px;
    }
    
    .torneos__datos {
        font-size: 10px;
    }
    
    .torneos__boton {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    /* CONTACTO */

    .contacto__grid {
        grid-template-columns: 100vw;
        grid-template-areas: "banner"
                            "form";
    }

    .banner__contacto {
        align-items: center;
        height: 45vh;
    }

    .formulario__dato--recuadro {
        width: 80vw;
    }
    
    .formulario__dato--mensaje {
        width: 80vw;
    }

    .formulario__boton {
        width: 100px;
        height: 40px;
        font-size: 11px;
    }

}
/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .home__torneos {
        width: 90vw;
    }

    .home__carrousel--titulo {
        font-size: 30px;
    }
    .home__redes {
        height: 40vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        /* margin: 30px 0; */
    }
    
    .home__redes--titulo {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        font-size: 16px;
        margin: 16px 20px;
    }
    
    .home__redes--logos {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .home__redes--img {
        width: 80px;
    }

    
    .home__actividades {
        grid-template-areas: "alquiler"
                            "cumple"
                            "escuelita";
        justify-content: space-evenly;
    }

    .home__actividades--tarjeta {
        width: 60vw;
    }

    .home__actividades--img {
        width: 30vw;
    }

    .home__actividades--texto {
        margin: 5px;
        padding: 0 10px;
    }

        /* NOSOTROS */
    .nosotros {
        padding: 20px;
        line-height: 25px;
        font-size: 15px;
    }

    .ubicacion__texto {
        font-size: 15px;
        margin: 20px;
    }

    /* ACTIVIDADES */
    .actividades__titulo {
        font-size: 25px;
        margin: 15px;
    }
    
    .actividades__texto {
        font-size: 14px;
    }
    
    .actividades__boton {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    .actividades__galeria {
        height: 35vh;
        margin: 16px;
    }

    /* TORNEOS */

    .torneos {
        margin: 16px;
    }

    .torneos__img {
        height: 50vh;
    }

    .torneos__info--titulo {
        font-size: 20px;
    }
    
    .torneos__datos {
        font-size: 15px;
    }
    
    .torneos__boton {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    /* CONTACTO */

    .titulo__contacto {
        font-size: 50px;
    }

    .contacto__grid {
        grid-template-columns: 50vw 50vw;
    }

    .formulario__dato--recuadro {
        width: 40vw;
    }
    
    .formulario__dato--mensaje {
        width: 40vw;
    }

    .formulario__boton {
        width: 100px;
        height: 40px;
        font-size: 11px;
        margin: 10px;
    }

}