
.torneos__grid {
    display: grid;
    grid-template-areas: "masculino"
                        "femenino"
                        "mixto";
}

.torneos__masculino {
    grid-area: masculino;
}

.torneos__femenino {
    grid-area: femenino;
    flex-direction: row-reverse;
}

.torneos__mixto {
    grid-area: mixto;
}

.torneos {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    &__img {
        width: 40vw;
        height: auto;
    }
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--titulo {
            margin: 5px;
        }
        &--lista {
            margin: 5px;
            padding: 0;
            .torneos__datos {
                text-align: center;
                margin: 15px;
            }
        }
    }
    
    &__boton {
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
}

h2.torneos__info--titulo {
    font-size: 2rem;
}

li.torneos__datos {
    font-size: 1rem;
}
