/* COLORES */

$color-base: rgb(235, 235, 235);
$color-principal: #21897E;
$color-textos: #1B264F;

/* LETRAS */

$font-principal: 'Raleway', sans-serif;
$font-banners: 'Noto Sans', sans-serif;

/* TAMAÑO LETRAS */

$size-textos: 1rem;
$size-titulos: 2rem;
$size-botones: 1.2rem;