@import "variables";
@import "header";
@import "footer";
@import "banners";
@import "paginas/index";
@import "paginas/nosotros";
@import "paginas/actividades";
@import "paginas/torneos";
@import "paginas/contacto";
@import "mediaqueries";

*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
}

body {
    font-family: $font-principal;
    color: $color-textos;
}

ul {
    list-style: none;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-base;
    border: $color-principal solid 1px;
    border-radius: 25px;
    color: $color-principal;
    padding: 10px;
    margin: 10px;
    &:hover {
        background-color:$color-principal;
        border: $color-base solid 1px;
        color: white;
        transform: scale(1.1,1.1);
        transition: all 0.3s;
    }
}

