*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #1B264F;
}

ul {
    list-style: none;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: #21897E solid 1px;
    border-radius: 25px;
    color: #21897E;
    padding: 10px;
    margin: 2px;
    &:hover {
        background-color: #21897E;
        border: rgb(235, 235, 235) solid 1px;
        color: white;
        transform: scale(1.1,1.1);
        transition: all 0.3s;
    }
}

@import "header";
@import "footer";
@import "banners";
@import "home";
@import "nosotros";
@import "actividades";
@import "torneos";
@import "contacto";
@import "mediaqueries";