*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #1B264F;
}

ul {
    list-style: none;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: #21897E solid 1px;
    border-radius: 25px;
    color: #21897E;
    padding: 10px;
    margin: 2px;
    &:hover {
        background-color: #21897E;
        border: rgb(235, 235, 235) solid 1px;
        color: white;
        transform: scale(1.1,1.1);
        transition: all 0.3s;
    }
}

/* HEADER */
.header {
    background-color: rgb(235, 235, 235);
    &__logo {
        width: 80px;
        margin: 0 30px;
    }
    
    &__secciones a {
        text-decoration: none;
        color: #21897E;
        font-size: 20px;
        margin: 0 20px;
    }
}

/* BANNERS */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-size: cover;
    background-position: center;

    &__titulo {
        font-family: 'Noto Sans', sans-serif;
        color: rgba(255, 255, 255, 0.850);
        font-size: 60px;
        text-shadow: 5px 5px 10px black;
    }

    &__home {
        background-image: url(../recursos/cancha_de_futbol.jpg);
        height: 90vh;
    }

    &__nosotros {
        background-image: url(../recursos/nosotros-banner.jpg);
        background-position: 80% 20%;
    }
    
    &__actividades {
        background-image: url(../recursos/actividades.jpg);
        background-position: bottom;
    }

    &__torneos {
        background-image: url(../recursos/torneos_banner.jpg);
    }
}

/* HOME */

.home__torneos {
    width: 70vw;
    margin-top: 25px;

    &--img {
        height: 85vh;
    }
}

.home__carrousel--titulo {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 5px 5px 10px black;
}

.home__redes {
    width: auto;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: #21897E;
    align-items: center;
    margin: 20px 0;
    
    &--titulo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 30px;
    }
    
    &--logos {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-evenly;
    }
    
    &--texto {
        color: white;
        font-size: 30px;
        text-align: center;
    }
    
    &--img {
        width: 100px;
        margin: 0 10px;
    }
}

.home__actividades {
    display: grid;
    grid-template-areas: "alquiler cumple escuelita";
    justify-content: space-evenly;

    .home__alquiler {
        grid-area: alquiler;
    }
    
    .home__cumple {
        grid-area: cumple;
    }
    
    .home__escuelita {
        grid-area: escuelita;
    }

    &--tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #21897f0a;
        margin: 16px;
        border: #21897E solid 1px;
        width: 30vw;
    }
    
    &--titulo {
        font-size: 30px;
        margin: 10px;
    }
    
    &--img {
        width: 20vw;
    }
    
    &--texto {
        text-align: center;
        margin: 15px;
        line-height: 25px;
    }
    
    &--boton {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}


/* NOSOTROS */
.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    text-align: center;
    padding: 0 100px;
    margin: 30px;
    line-height: 25px;
    font-size: 20px;

    &__texto {
        margin: 10px;
    }
}

.galeria {
    width: 50vw;

    &__img {
        height: 90vh;
    }
}


.ubicacion {
    display: grid;
    grid-template-areas: "titulo titulo"
                        "mapa texto";
    margin: 20px;

    &__titulo {
        grid-area: titulo;
        text-align: center;
        font-size: 35px;
        margin: 20px;
    }
    
    &__mapa {
        grid-area: mapa;
        width: 40vw;
        height: 50vh;
        margin: 0 30px 10px 30px;
    }
    
    &__texto {
        grid-area: texto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        margin: 30px;

        &--parrafo {
            margin: 5px;
        }
    }
}



/* ACTIIDADES */

.actividades {
    margin: 5vh;
    &__seccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__titulo {
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }
    
    &__texto {
        text-align: center;
        font-size: 18px;
        line-height: 35px;
    }
    
    &__boton {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    
    &__galeria {
        display: grid;
        height: 50vh;
        margin: 16px;
        grid-template-areas: "foto1 foto2 foto3";
        grid-gap: 1rem;

        .foto {
            &__uno {
                grid-area: foto1;
            }
            
            &__dos {
                grid-area: foto2;
            }
            
            &__tres {
                grid-area: foto3;
            }
        }
        .alquiler {
            &__uno {
                background-image: url(../recursos/alquiler-canchas.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__dos {
                background-image: url(../recursos/alquiler-canchas.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__tres {
                background-image: url(../recursos/alquiler-canchas.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        .escuelita {
            &__uno {
                background-image: url(../recursos/escuelita.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__dos {
                background-image: url(../recursos/escuelita.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__tres {
                background-image: url(../recursos/escuelita.jpg);
                background-position: center;
                background-size: cover;
            }
            
        }
        .cumple {
            &__uno {
                background-image: url(../recursos/cumpleanos.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__dos {
                background-image: url(../recursos/cumpleanos.jpg);
                background-position: center;
                background-size: cover;
            }
            
            &__tres {
                background-image: url(../recursos/cumpleanos.jpg);
                background-position: center;
                background-size: cover;
            }
        }
    }
}

/* TORNEOS */

.torneos__grid {
    display: grid;
    grid-template-areas: "masculino"
                        "femenino"
                        "mixto";
}

.torneos__masculino {
    grid-area: masculino;
}

.torneos__femenino {
    grid-area: femenino;
    flex-direction: row-reverse;
}

.torneos__mixto {
    grid-area: mixto;
}

.torneos {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    &__img {
        height: 70vh;
        width: auto;
    }
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--titulo {
            margin: 5px;
            font-size: 35px;
        }
        &--lista {
            margin: 5px;
            padding: 0;
            .torneos__datos {
                text-align: center;
                font-size: 20px;
                margin: 15px;
            }
        }
    }
    
    &__boton {
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
}

/* CONTACTO */

.banner__contacto {
    display: flex;
    justify-content: center;
    height: 90vh;
    background-image: url("../recursos/contactos_banner.jpg");
    background-size: cover;
    background-position: center;
}

form {
    margin: 20px;
    border-radius: 20px;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-areas: "derechos redes";
    background-color: rgb(235, 235, 235);
    padding: 0 24px;

    .footer {
        &__derechos {
            grid-area: derechos;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: small;
        }
        
        &__redes {
            grid-area: redes;
            display: flex;
            justify-content: flex-end;
        }
        
        &__icono {
            width: 25px;
            margin: 5px;
        }
    }
}


@import "mediaqueries";