
.actividades {
    margin: 15px;
    &__seccion {
        display: flex;
        @include flex(column, center, center);
    }
    
    &__titulo {
        text-align: center;
        font-size: $size-titulos;
        margin: 20px;
    }
    
    &__texto {
        text-align: center;
        font-size: $size-textos;
        line-height: 35px;
    }
    
    &__boton {
        width: 200px;
        height: 50px;
        font-size: $size-botones;
    }
    
    &__galeria {
        display: grid;
        height: 50vh;
        margin: 16px;
        grid-template-areas: "foto1 foto2 foto3";
        grid-gap: 1rem;

        .foto {
            &__uno {
                grid-area: foto1;
            }
            
            &__dos {
                grid-area: foto2;
            }
            
            &__tres {
                grid-area: foto3;
            }
        }
        .alquiler {
            &__uno {
                background-image: url(../recursos/alquiler__uno.jpg);
                @extend .background-centrado;
            }
            
            &__dos {
                background-image: url(../recursos/alquiler__dos.jpg);
                @extend .background-centrado;
            }
            
            &__tres {
                background-image: url(../recursos/alquiler__tres.jpg);
                @extend .background-centrado;
            }
        }
        .escuelita {
            &__uno {
                background-image: url(../recursos/escuelita__uno.jpg);
                @extend .background-centrado;
            }
            
            &__dos {
                background-image: url(../recursos/escuelita__dos.jpg);
                @extend .background-centrado;
            }
            
            &__tres {
                background-image: url(../recursos/escuelita__tres.jpg);
                @extend .background-centrado;
            }
            
        }
        .cumple {
            &__uno {
                background-image: url(../recursos/cumpleanos__uno.jpg);
                @extend .background-centrado;
            }
            
            &__dos {
                background-image: url(../recursos/cumpleanos__dos.jpg);
                @extend .background-centrado;
            }
            
            &__tres {
                background-image: url(../recursos/cumpleanos__tres.jpg);
                @extend .background-centrado;
            }
        }
    }
}
