
.home__torneos {
    margin: 30px 0;
    
    &--tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .futbol__masculino {
        background-image: url(../recursos/portada-futbol-masculino.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .futbol__femenino {
        background-image: url(../recursos/portada-torneo-femenino.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .futbol__mixto {
        background-image: url(../recursos/portada-futbol-mixto.jpg);
        background-size: cover;
        background-position: center;
    }

    &--titulo {
        color: $color-base;
        font-size: 3rem;
        text-shadow: 5px 5px 10px black;
    }
}

.home__redes {
    width: auto;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: $color-principal;
    align-items: center;
    margin: 20px 0;
    
    &--titulo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    &--logos {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-evenly;
    }
    
    &--texto {
        color: white;
        font-size: $size-titulos;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    
    &--img {
        width: 100px;
        margin: 0 10px;
    }
}

.home__actividades {
    display: grid;
    grid-template-areas: "alquiler cumple escuelita";
    justify-content: space-evenly;

    .home__alquiler {
        grid-area: alquiler;
    }
    
    .home__cumple {
        grid-area: cumple;
    }
    
    .home__escuelita {
        grid-area: escuelita;
    }

    &--tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #21897f0a;
        margin: 16px;
        border: $color-principal solid 1px;
        width: 30vw;
    }
    
    &--titulo {
        font-size: $size-titulos;
        margin: 10px;
    }
    
    &--img {
        width: 20vw;
    }
    
    &--texto {
        text-align: center;
        margin: 10px;
        padding: 0 2rem;
        line-height: 25px;
    }
    
    &--boton {
        width: 180px;
        height: 40px;
        font-size: $size-botones;
    }
}