
.nosotros {
    display: flex;
    @include flex(column, center, center);
    height: 45vh;
    text-align: center;
    padding: 0 100px;
    margin: 30px;
    line-height: 25px;
    font-size: 20px;

    &__texto {
        margin: 10px;
    }
}

.galeria {
    width: 70vw;

    &__img {
        height: 50vh;
    }
}


.ubicacion {
    display: grid;
    grid-template-areas: "titulo titulo"
                        "mapa texto";
    margin: 20px;

    &__titulo {
        grid-area: titulo;
        text-align: center;
        font-size: $size-titulos;
        margin: 20px;
    }
    
    &__mapa {
        grid-area: mapa;
        width: 40vw;
        height: 50vh;
        margin: 0 30px 10px 30px;
    }
    
    &__texto {
        grid-area: texto;
        display: flex;
        @include flex (column, center, center);
        text-align: center;
        font-size: $size-textos;
        margin: 30px;

        &--parrafo {
            margin: 5px;
        }
    }
}