
.torneos__grid {
    display: grid;
    grid-template-areas: "masculino"
                        "femenino"
                        "mixto";
    
    .torneos__masculino {
        grid-area: masculino;
    }
    
    .torneos__femenino {
        grid-area: femenino;
        flex-direction: row-reverse;
    }
    
    .torneos__mixto {
        grid-area: mixto;
    }
}

.torneos {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    &__img {
        width: 40vw;
        height: auto;
    }
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        @include flex(column, center, center);
        &--titulo {
            margin: 5px;
        }
        &--lista {
            margin: 5px;
            padding: 0;
            .torneos__datos {
                text-align: center;
                margin: 15px;
            }
            li {
                font-size: $size-textos;
            }
        }
        h2 {
            font-size: $size-titulos;
        }
    }
    
    &__boton {
        width: 160px;
        height: 50px;
        font-size: $size-botones;
    }
}




